ol{
    color: white;
    font-size: 20px;
}

a{
    color: white;
    font-size: 20px;
}

a:hover{
    color: yellow;
    font-size: 30px;

}

html{
    background-color: black;
}

h5{
    color: white;
}

h6{
    color: white;
}

p{
    color: white;
}